/* Remove margins */
body {
  overflow: scroll;
  margin: 0;
  background-color: #1f1f1f;
  font-family: 'Roboto';
  color: #E7f6ff;

  --text-color: #E7f6ff;
  --text-space: .5rem;
  --primary-space: 1em;
  --secondary-space: 2em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: var(--text-color);
  cursor: unset;
  text-decoration: none;
}

/* Styling (Mobile first) */

/* Styling - Header */
header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header img {
  margin: var(--primary-space);
  object-fit: cover;
  border-radius: 50%;
  max-width: 250px;
  min-width: 250px;
  max-height: 250px;
  min-height: 250px;
}

header h1,
header h2,
header .tags {
  margin: var(--text-space)
}

/* Tags */
.tags {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: var(--primary-space);
}

.tags span {
  color: var(--text-color);
  padding: 2.5px 5px;
  border-radius: 5px;
}

span.student {
  background-color: green;
}

span.developer {
  background-color: blue;
}

/* Line */
hr {
  width: 80%;
}

/* Styling - Main */

main {
  margin: 0 10% 0 10%;
}

main ul {
  list-style: none;
  margin-inline: 0;
  margin-block: 0;
  padding-inline: 0;
}

main ul li {
  background-color: #1c1c1e;
  padding: 16px;
  border-radius: 8px;
  border: 2px #1a1a1c solid;
  margin: 1rem 0 1rem 0;
  cursor: pointer;
}

main ul li i {
  padding-inline: var(--text-space);
}

/* Styling - Footer */
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

footer a {
  margin: var(--primary-space);
  cursor: pointer;
}

footer a i {
  font-size: x-large;
}

/* Responsive (Desktop) */
@media screen and (min-width: 1000px) {
  body {
    background-color: #e7f6ff;
    overflow: hidden;
  }

  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translate(-50%, -50%);
    }

    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translate(-50%, -47.5%);
    }

    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translate(-50%, -50%);
    }
  }

  .card-container {
    padding: var(--secondary-space);
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: #1f1f1f;
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    transform: rotate3d(0);

    animation: float 3.5s ease-in-out infinite;

    box-shadow: 0 5px 20px 5px #00000044;
  }
}