/* Remove margins */
body {
  overflow: hidden;
  margin: 0;
  background-color: #1f1f1f;
  font-family: 'Roboto';
  color: #E7f6ff;

  --text-color: #E7f6ff;
  --text-space: .5rem;
  --primary-space: 1em;
  --secondary-space: 2em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: var(--text-color);
  cursor: unset;
  text-decoration: none;
}

/* Styling (Mobile first) */

/* Styling - Header */
header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header img {
  margin: var(--primary-space);
  object-fit: cover;
  border-radius: 50%;
  max-width: 320px;
  min-width: 320px;
  max-height: 320px;
  min-height: 320px;
}

header h1,
header h2,
header .tags {
  margin: var(--text-space)
}

/* Tags */
.tags {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: var(--primary-space);
}

.tags span {
  color: var(--text-color);
  padding: 2.5px 5px;
  border-radius: 5px;
}

span.student {
  background-color: green;
}

span.developer {
  background-color: blue;
}

/* Line */
hr {
  width: 80%;
}

/* Styling - Main */

main {
  margin: 0 10% 0 10%;
}

main ul {
  list-style: none;
  margin-inline: 0;
  margin-block: 0;
  padding-inline: 0;
}

main ul li {
  background-color: #1c1c1e;
  padding: 16px;
  border-radius: 8px;
  border: 2px #1a1a1c solid;
  margin: 1rem 0 1rem 0;
}

main ul li i {
  padding-inline: var(--text-space);
}

/* Styling - Footer */
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

footer a {
  margin: var(--primary-space);
}

footer a i {
  font-size: x-large;
}

@media (min-width: 600px) {}